/* ###### Remark.js defaults*/

@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);
@import url(http://fonts.googleapis.com/css?family=Lato:100,400,900);

body { 
	font-family: 'Droid Serif'
}

h1, h2, h3 {
  font-family: 'Yanone Kaffeesatz';
  font-weight: normal;
}

.remark-code,
.remark-inline-code { 
	font-family: 'Ubuntu Mono'; 
}

/* ###### Custom Styles */

body { 
	font-family: 'Helvetica'
}

h1, h2, h3 {
  font-family: 'Helvetica';
  font-weight: bold;
}

.remark-slide-footer {
  font-family: "Lato", sans-serif;
  font-weight: 100;
	position: absolute;
  bottom: 0;
  background-color: #222;
  color: #fcfcfc;
  width: 100%;
  margin: -1em -4em; /*counteract padding on top element */
  height: 4em;
  line-height: 4em;
}

.footer a,
.footer a:visited {
	text-decoration: none;
	color: #fcfcfc;
}

.remark-slide-footer .logo {
	position: absolute;
	left: 1em;
	
}
.remark-slide-footer .twitter {
  position: absolute;
  left: 44%;
  line-height: 3em;
	
}
.remark-slide-footer .hashtag {
	position: absolute;
	right: 1em;
  line-height: 3em;
}

/************************** from view-source:http://joshbode.github.io/remark/ansi.html#1*/

@import url(http://fonts.googleapis.com/css?family=Droid+Serif);
@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);

body {
  font-family: 'Droid Serif';
  font-size: medium;
}
h1, h2, h3 {
  font-family: 'Yanone Kaffeesatz';
  font-weight: 400;
  margin-bottom: 0;
}
.small * {
  font-size: small !important;
}
code {
  border-radius: 5px;
}
.inverse {
  background: #272822;
  color: #777872;
  text-shadow: 0 0 20px #333;
}
.inverse h1, .inverse h2 {
  color: #f3f3f3;
  line-height: 0.8em;
}
.footnote {
  position: absolute;
  font-size: small;
  bottom: 3em;
  right: 3em;
}
/* styling only necessary for displaying source */
#source {
  position: absolute;
  display: none;
  font-family: monospace;
  font-size: medium;
  background: #333333;
  color: white;
  padding: 10px;
  text-align: left;
  width: 65%;
  height: 70%;
  z-index: 1000;
}
#overlay {
  position: absolute;
  display: none;
  background: black;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  z-index: 999;
}

.green {
	color: #859900;
}

.red {
	color: #dc322f;
}